In [1]:
import numpy as np
import pandas as pd

In [44]:
X = pd.DataFrame(np.array([5,7,8, np.NaN, np.NaN, np.NaN, -5,
              0,25,999,1,-1, np.NaN, 0, np.NaN]).reshape(5,3))

In [47]:
X.columns = ['f1','f2','f3']

In [28]:
X

      f1   f2    f3
0    5.0  7.0   8.0
1    NaN  NaN   NaN
2   -5.0  0.0  25.0
3  999.0  1.0  -1.0
4    NaN  0.0   NaN

In [29]:
from sklearn.impute import MissingIndicator  #indicates value is missing with True/False.

In [45]:
X.replace({999:np.NaN}, inplace = True)

In [46]:
X

     0    1     2
0  5.0  7.0   8.0
1  NaN  NaN   NaN
2 -5.0  0.0  25.0
3  NaN  1.0  -1.0
4  NaN  0.0   NaN

In [48]:
indicator = MissingIndicator(missing_values = np.NaN)
indicator = indicator.fit_transform(X)
indicator = pd.DataFrame(indicator, columns = ['m1','m2','m3'])
indicator

      m1     m2     m3
0  False  False  False
1   True   True   True
2  False  False  False
3   True  False  False
4   True  False   True

In [49]:
from sklearn.impute import SimpleImputer

mi = SimpleImputer(missing_values=  np.nan, strategy = 'mean')  # takes mean of all values that are not nan

In [50]:
mi.fit_transform(X)

array([[ 5.        ,  7.        ,  8.        ],
       [ 0.        ,  2.        , 10.66666667],
       [-5.        ,  0.        , 25.        ],
       [ 0.        ,  1.        , -1.        ],
       [ 0.        ,  0.        , 10.66666667]])

In [63]:
a = [1, 1, 2, 3, 4]
b = [2, 2, 3, 2, 1]
c = [4, 6, 7, 8, 9]
d = [4, 3, 4, 5, 4]
e = [4, 6, 7, 8, 9]
f = [4, 3, 4, 5, 4]

In [64]:
import pandas as pd
data = pd.DataFrame()
data["a"] = a
data["b"] = b
data["c"] = c
data["d"] = d

data["e"] = e
data["f"] = f
data

   a  b  c  d  e  f
0  1  2  4  4  4  4
1  1  2  6  3  6  3
2  2  3  7  4  7  4
3  3  2  8  5  8  5
4  4  1  9  4  9  4

In [74]:
data.corr(method = 'pearson')

          a         b         c         d         e         f
a  1.000000 -0.542326  0.917070  0.542326  0.917070  0.542326
b -0.542326  1.000000 -0.367607  0.000000 -0.367607  0.000000
c  0.917070 -0.367607  1.000000  0.367607  1.000000  0.367607
d  0.542326  0.000000  0.367607  1.000000  0.367607  1.000000
e  0.917070 -0.367607  1.000000  0.367607  1.000000  0.367607
f  0.542326  0.000000  0.367607  1.000000  0.367607  1.000000

In [78]:
np.corrcoef(data, rowvar = False)

array([[ 1.        , -0.54232614,  0.91707006,  0.54232614,  0.91707006,
         0.54232614],
       [-0.54232614,  1.        , -0.36760731,  0.        , -0.36760731,
         0.        ],
       [ 0.91707006, -0.36760731,  1.        ,  0.36760731,  1.        ,
         0.36760731],
       [ 0.54232614,  0.        ,  0.36760731,  1.        ,  0.36760731,
         1.        ],
       [ 0.91707006, -0.36760731,  1.        ,  0.36760731,  1.        ,
         0.36760731],
       [ 0.54232614,  0.        ,  0.36760731,  1.        ,  0.36760731,
         1.        ]])